<% provide(:title, "Log in") %>

<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!-- As in users new.html This form takes a block with one variable and returns html elements
    which can record the user's email and password - this time two elements as the account is 
    already created.
    Added sign up link at the bottom for users with no account.-->
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Keep me logged in</span>
      <% end%>
      
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    
    <p id="below-button">New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>